<section class="py-5">
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-4">
        <h2 class="mb-4">SecurePortal Features</h2>
        <p>SecurePortal is a secure messaging and file sharing platform that allows you to connect with anyone in the world.
        </p>
        <ul>
          <li>Encrypted messaging</li>
          <li>Unlimited file sharing</li>
          <li>Anonymous Usage</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/img/bg3.jpg" alt="mockup" class="img-fluid" style="opacity: 0.5;">
      </div>
    </div>
  </div>
</section>
