<div class="container">
  <form class="col-md-4" #loginForm="ngForm">
    <div class="m-2 form-control">
      <label for="username">Username:</label>
      <input class="form-control" name="username" id="username" type="text" [(ngModel)]="user.username"/>
      <hr/>

      <label for="password">Password:</label>
      <input id="password" type="password" [formControlName]="'password'" [ngModel]="user.password" />

      <button type="submit" [disabled]="!loginForm.valid" class="btn btn-outline-primary" (click)="onSubmit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login</button>
      <a routerLink="../register" class="btn btn-link">Register</a>
    </div>

  </form>
</div>
