<section class="border-bottom" style="">
  <div class="row justify-content-center align-content-center overflow-hidden">
    <div class="col-md-4">
      <h1 class="mb-4">A Secure Portal to Anywhere in the World</h1>
      <p class="mb-4"> SecurePortal offers free, encrypted P2P messaging and file sharing. No login required.
      <p>
      <div class="row">
        <div class="container-fluid" style="border-width: 2px;">
          <div class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input type="text" class="form-control" id="secret_key_portal" placeholder="Secret Key" >
              <button class="btn btn-outline-secondary" id="secret_key_portal_btn" (click)="secretKeyPortalBtnClick()">Connect</button>
            </div>
            <span id="keyError" class="key"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-none d-md-block">
      <!-- insert mockup image -->
      <img src="../../../assets/img/mockup.png" alt="mockup" class="img-fluid">
    </div>
  </div>
</section>
