/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --main-color-1: #AFAFAF;
  --main-color-2: #808080;
  --main-color-3: #545454;
  --main-color-4: #545454;
  --main-color-5: #545454;
  --font-color-1: #2B2B2B;
  --font-color-hover: #808080;
  --background-color-1: #AFAFAF;
  --background-color-2: #E1E1E1;
  --background-color-3: #808080;
  --background-color-4: #808080;
}
